body {
    background-image: url(shutterstock_311871896.webp);
    max-width: ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 600px;
}

button {
    background-color: darksalmon;
    border-radius: 30%;
    width: 200px;
    height: 40px;
    color: brown;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    border-color: honeydew;
    margin-left: 250px;
    font-style: italic;
}

#retrieve {
    background-color: darksalmon;
    border-radius: 10%;
    height: 30px;
    width: 400px;
    border-color: white;
    font-size: x-large;
    color: brown;
    margin-left: 150px;
}

h1 {
    color: white;
    margin-left: 100px;
    margin-top: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
}

h2 {
    color: darkviolet;
    margin-left: 150px;
    font-size: xx-large;
}

div {
    font-size: x-large;
    margin-left: 30px;
    margin-top: 70px;
    color: azure;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#year_start,
#year_end {
    font-size: x-large;
    margin-left: 300px;
    background-color: darksalmon;
    color: brown;
}