body {
    background-image: url(2022-astronomy-photographer-of-the-year-milky-way.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
}

button {
    background-color: lightskyblue;
    border-radius: 30%;
    width: 100px;
    height: 40px;
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    border-color: honeydew;
    margin-left: 300px;
    font-style: italic;
}

#search {
    background-color: lightskyblue;
    border-radius: 10%;
    height: 50px;
    width: 400px;
    border-color: white;
    font-size: x-large;
    color: orangered;
    margin-left: 150px;
}

h1 {
    color: white;
    margin-left: 230px;
    margin-top: 110px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 35px;
}

h2 {
    color: white;
    margin-left: 220px;
    font-size: xx-large;
}

div {
    background-color: lightskyblue;
    font-size: x-large;
}