body {
    max-width: 414px;
    max-height: 896px;
    background-image: url(scaletowidth.jpeg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

button {
    background-color: violet;
    color: rgb(68, 38, 90);
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    border: solid 10px;
    margin-top: 10px;
    font-style: italic;
    margin-left: 90px;
}

#retrieve {
    background-color: violet;
    height: 35px;
    width: 300px;
    border-color: brown;
    border: solid 10px;
    border-color: rgb(68, 38, 90);
    font-size: x-large;
    color: white;
    margin-left: 8px;
    /* margin-top: 10px; */
}

h1 {
    color: white;
    margin-left: 80px;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
}

h2 {
    color: whitesmoke;
    /* margin-left: 10px; */
    font-size: xx-large;
}

div {
    font-size: x-large;
    margin-left: 30px;
    margin-top: 70px;
    color: white;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#yearStart {
    font-size: x-large;
    margin-left: 70px;
    background-color: violet;
    color: rgb(68, 38, 90);
    height: 35px;
    border: solid 10px;
    border-color: rgb(68, 38, 90);
}

#yearEnd {
    font-size: x-large;
    margin-left: 1px;
    background-color: violet;
    color: rgb(68, 38, 90);
    height: 35px;
    border: solid 10px;
    border-color: rgb(68, 38, 90);
}

a {
    color: violet;
}

footer {
    color: white;
    margin-top: 180px;
}

.imageClass {
    height: 300px;
    width: 414px;
}

p {
    width: 414px;
    border: solid 3px;
    padding: 5px;
}